<app-header></app-header>
<div style="margin-top: 300px;">
    <span style="display: flex; justify-content: center; align-items: center;">
        <button type="button"
                class="btn btn-danger"
                (click)="createOrder()">Create New Order</button>
    </span>
</div>
<div id="style">
    <span style="display: flex; justify-content: center; align-items: center;">
        <button type="button"
                class="btn btn-warning"
                (click)="existOrder()">Existing Order</button>
    </span>
</div>

<!-- remove
<select>
    <option selected
            disabled>Select</option>
    <option *ngFor="let abc of number">{{abc.email}}</option>
</select> -->